.loader {
  $_this: &;

  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &--light {
    #{$_this}__progress-circle,
    #{$_this}__text {
      color: #fff;
    }
  }

  &__progress-circle,
  &__text {
    color: #000;
  }

  &__inner {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}
