.movie-opening-crawl {
  background-color: #000;
  height: 100vh;
  overflow: hidden;

  &__fade {
    background-image: linear-gradient(0deg, transparent, #000, 75%);
    min-height: 60vh;
    position: relative;
    top: -1.5rem;
    width: 100%;
    z-index: 1;
  }

  &__opening-crawl {
    color: #feda4a;
    display: flex;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 500%;
    font-weight: 600;
    height: 50rem;
    justify-content: center;
    letter-spacing: 0.33rem;
    line-height: 150%;
    perspective: 25rem;
    position: relative;
    text-align: justify;
  }

  &__text-wrapper {
    animation: crawl 60s linear;
    position: relative;
    top: 99999rem;
    transform-origin: 50% 100%;
    width: 65rem;
  }

  &__episode,
  &__title {
    text-align: center;
  }

  &__title {
    font-size: 7rem;
    text-transform: uppercase;
  }
}

@keyframes crawl {
  0% {
    top: -6rem;
    transform: rotateX(20deg) translateZ(0);
  }

  100% {
    top: -375rem;
    transform: rotateX(25deg) translateZ(-155rem);
  }
}
